* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #1f1f1f;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: white;
}

.headerPage {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 15px 30px;
    background-color: #ef3b2d; /* Laravel rood */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin-bottom: 50px;
}

#textFix {
    padding: 0px 20px;
}

.box {
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    min-width: 500px;
    border-radius: 10px;
    margin-bottom: 50px;
    border-left: 5px solid #ef3b2d;
}

.box h1,
.box h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: #ef3b2d;
}

.btn {
    background-color: #ef3b2d;
    color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 90%;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c62828;
}

.btn-small {
    background-color: #ef3b2d;
    color: white;
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 30%;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.btn-small a{
    background-color: #ef3b2d;
    color: white;
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 30%;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-small:hover a{
    background-color: #c62828;
}

.btn-small:hover {
    background-color: #c62828;
}

.form-control {
    width: 90%;
    height: 40px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.postBox {
    background-color: #ffe5e2;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 4px solid #ef3b2d;
}
