/*navbar*/

.menu-btn {
    color: gray;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar {
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: bisque;
    box-shadow: 0 0 14px black;
}

.logo {
    color: rgb(0, 0, 0);
    border-bottom: 4px solid rgb(224, 155, 26);
    text-decoration: none;
    font-size: 25px;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    margin-left: 20px;
    color: black;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.navbar .menu li a i {
    color: rgb(224, 155, 26);
}

.navbar .menu li a:hover {
    border-bottom: 4px solid rgb(224, 155, 26);
    transform: scale(1.1);
}